

<div id="contenitore_principale">

  <div>
    <h6><b>Car shop</b></h6>

    <label>Inserisci colore</label>
    <input type="text"  placeholder="scrivi qualche cosa"  #inputCasella >
    <label>Inserisci numero porte</label>
    <input type="text"  placeholder="scrivi qualche cosa"  #inputCasella2 >
    <label>Inserisci cambio</label>
    <input type="text"  placeholder="scrivi qualche cosa"  #inputCasella3 >
    <button (click)="onClick1(inputCasella)">Save1</button>
    <button (click)="onClick2(inputCasella2)">Save2</button>
    <button (click)="onClick3(inputCasella3)">Save3</button>
    

  </div>

  <br>

  <div>

    <h6> <b>Elemento salvato della lista</b></h6>
    <p>Hai registrato il dato {{testo_salvato}}</p>

  </div>

</div>